# Question 1

Question 1 What value is displayed when the last_list esome_intpression (a) is evaluated? Esome_intplain your answer by indicating what happens in every executed statement ?

In [1]:
a=0 #creating a variable a with value 0
def b(): #define function b
    global a #creating a global variable a 
    a = c(a) #calling a function c and passing a as argument

def c(a): #creating a function c
    return a + 2 #returning value of a + 2, here a is local for function c
b()     #calls the function b() for the first time with initial value of a=0 which returns value of a to 2
b()     #calls the function b() for the second time with new value of a=2  which returns value of a to 4
b()     #calls the function b() for the third time with latest value pf a=4 which returns value of a to 6
print("Final Value of variable 'a' after certain iterations: ", a) #stores the latest updated value of a

Final Value of variable 'a' after certain iterations:  6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [2]:
def file_length(file_name):
    file = open(file_name)
    contents = file.read()
    file.close()
    print(len(contents))

In [3]:
file_length('data_programming_quiz_3.py')

510

In [4]:
file_length('mid_term.py')

FileNotFoundError: [Errno 2] No such file or directory: 'mid_term.py'

In [5]:
#modification to implement try except
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except Exception as excep_err:
        print(excep_err)

In [6]:
file_length('data_programming_quiz_3.py')

510

In [7]:
file_length('daa_programming_quiz_3.py')

[Errno 2] No such file or directory: 'daa_programming_quiz_3.py'

# Question 3
Write a class named Marsupial that can be used as shown below:

m = Marsupial() m.put_in_pouch('doll') m.put_in_pouch('firetruck') m.put_in_pouch('kitten') m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis c. overloads the str operator so it behaves as shown below.

k = Kangaroo(0,0) print(k)

I am a Kangaroo located at coordinates (0,0)

k.put_in_pouch('doll') k.put_in_pouch('firetruck') k.put_in_pouch('kitten') k.pouch_contents()

['doll', 'firetruck', 'kitten']

k.jump(1,0) k.jump(1,0) k.jump(1,0) print(k)

I am a Kangaroo located at coordinates (3,0)

In [8]:
class Marsupial:
    last_list=[]
    def init(self): 
        self.last_list = []
        
    #Add to list
    def put_in_pouch(self, item):
        self.last_list.append(item)
        
    #Return List
    def pouch_contents(self):
        return self.last_list

class Kangaroo(Marsupial):

    def __init__(self,x,y):

            Marsupial.__init__(self)

            self.x = x

            self.y = y

    def jump(self,dx,dy):

        self.x += dx

        self.y += dy

    def __str__(self):

        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)+'\n'

m = Marsupial() 
m.put_in_pouch('doll') 
m.put_in_pouch('firetruck') 
m.put_in_pouch('kitten') 
print("Class Marsupial contains :", m.pouch_contents(),"\n")

k = Kangaroo(0,0) 
print(k) 
k.put_in_pouch('doll')
k.put_in_pouch('firetruck') 
k.put_in_pouch('kitten') 
print("Subclass kangaroo contains : ", k.pouch_contents(),"\n") 
k.jump(1,0) 
k.jump(1,0)
k.jump(1,0)
print(k)

Class Marsupial contains : ['doll', 'firetruck', 'kitten']

I am a Kangaroo located at coordinates (0,0)

Subclass kangaroo contains :  ['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']

I am a Kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence: x = { 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐 3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬 Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [9]:
def collatz(some_int):
    print(some_int)
    if some_int==1:
        return True
    elif some_int%2==0:
        return collatz(some_int//2)  #call method recursively
    else:
        return collatz((some_int*3)+1)  #call method recursively

In [10]:
collatz(some_int=81)

81
244
122
61
184
92
46
23
70
35
106
53
160
80
40
20
10
5
16
8
4
2
1

True

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

'>>>' binary(0)

0

'>>>' binary(1)

1

'>>>' binary(3)

11

'>>>' binary(9)

1001

In [11]:
def binary(non_neg_int):
    if non_neg_int == 0:
        return 0
    else:
        return  non_neg_int % 2 + 10 * binary(int(non_neg_int // 2))

In [12]:
binary(0)

0

In [13]:
binary(1)

1

In [14]:
binary(3)

11

In [15]:
binary(9)

1001

# Question 6:

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

>>> infile = open('w3c.html')

>>> content = infile.read()

>>> infile.close()

>>> hp = HeadingParser()

>>> hp.feed(content)

W3C Mission Principles

In [16]:
from html.parser import HTMLParser

html_file = open("w3c.html", "r")
content = html_file.read()
html_file.close()

class headingParser(HTMLParser):

    def __init__(self):
        super().__init__()
        self.data = []
        self.capture = False

    def handle_starttag(self, tag, attrs):
        if tag in ('p', 'h1'):
            self.capture = True
        elif tag in ('p', 'h2'):
            self.capture = True
        
    def handle_endtag(self, tag):
        if tag in ('p', 'h1'):
            self.capture = False
        elif tag in ('p', 'h2'):
            self.capture = False

    def handle_data(self, data):
        if self.capture:
            self.data.append(data)

parser = headingParser()
parser.feed(content)

print(parser.data)

['W3C Mission', 'Principles']

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.#

In [17]:
import requests

from bs4 import BeautifulSoup   

def webdir(url, depth, indent):
    res_obj = requests.get(url)
    print(url)
    if(depth == indent):
        return
    page_soup_obj = BeautifulSoup(res_obj.text)  
    for link in page_soup_obj.findAll('a'):
        new_link = link.get('href')
        if(new_link.startswith('https')):
            webdir(new_link, depth, indent+1)

webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 4, 1)

http://reed.cs.depaul.edu/lperkovic/test1.html

# Question 8: 
Write SQL queries on the below database table that return:

a) All the temperature data. b) All the cities, but without repetition. c) All the records for India. d) All the Fall records. e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters. f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order. g) The total annual rainfall for Cairo. h) The total rainfall for each season.

In [18]:
import sqlite3
from itertools import starmap
from json import dumps

def return_conn_tup_sqlite_table(db_file_name: str, check_same_thread: bool = True):
    """
        Returns the connection & cursor object tuple corresponding to either existing or new db file.
        :param str db_file_name: Sqlite db file name to connect to/or one which we want to create.
        :return: Return the connection & cursor object for db file connected.
        :rtype: tuple[Connection, Cursor]
    """
    conn_sql_lite = sqlite3.connect(db_file_name, check_same_thread=check_same_thread)
    cur_sql_lite = conn_sql_lite.cursor()

    return conn_sql_lite, cur_sql_lite


def sqlite_fetch_query(
        table_name: str, limit: int = 100,
        fetch_status: str = "PENDING",
        custom_sel_query_dict: dict = {}
    ):
    """
        Return a simple sql select fetch query depending on limit & fetch status provided.
        Internal method used by fetch_sqlite_rows function.
        :param str table_name: Sqlite table name from which to fetch rows from.
        :param int limit: Limit of rows to be fetched. Pass -1 to fetch all rows.
        :param str fetch_status: Status of rows to fetch. Defaults to PENDING.
        :param dict custom_sel_query_dict: Dict to make a custom where clause based on key value pair. Defaults to {}
        :return: Return a simple sql select query.
        :rtype: str
    """
    sel_query = f"""select * from {table_name} where
                                    status='{fetch_status}' """

    if bool(custom_sel_query_dict):
        extra_consraint_str =' and '.join(list(starmap("{} = '{}'".format, custom_sel_query_dict.items())))
        sel_query = sel_query + f""" and {extra_consraint_str} """

    if limit is not None and limit:
        sel_query = sel_query + f""" limit {limit}"""

    return sel_query

In [19]:
def create_sqlite_table(conn_cur_sql_lite):
    '''
    Creates the sqllite table.
    '''

    try:
        sql_table_query = (
            f'''CREATE TABLE IF NOT EXISTS weatherTable (
                    city varchar,
                    Country varchar,
                    Season varchar,
                    Temperature varchar,
                    Rainfall varchar
                    );
                    '''
        )

        conn_cur_sql_lite[1].execute(sql_table_query)
        conn_cur_sql_lite[0].commit()

    except Exception as excep_err:
        print(excep_err)
        print("Inside table create exception.")
        raise excep_err

In [20]:
sqlite_conn_cur_tup = return_conn_tup_sqlite_table(
        "some_db"
    )

In [21]:
create_sqlite_table(sqlite_conn_cur_tup)

In [22]:
sqlite_insert_stmt = "insert into weatherTable values('Mumbai','India', 'Winter','24.8', '5.9');"
sqlite_conn_cur_tup[1].execute(sqlite_insert_stmt)
sqlite_insert_stmt = "insert into weatherTable values('Mumbai','India', 'Spring','28.4', '16.2');"
sqlite_conn_cur_tup[1].execute(sqlite_insert_stmt)
sqlite_insert_stmt = "insert into weatherTable values('Mumbai','India', 'Summer','27.9', '1549.4');"
sqlite_conn_cur_tup[1].execute(sqlite_insert_stmt)
sqlite_insert_stmt = "insert into weatherTable values('Mumbai','India', 'Fall','27.6', '346.0');"
sqlite_conn_cur_tup[1].execute(sqlite_insert_stmt)
sqlite_insert_stmt = "insert into weatherTable values('London','United Kingdom', 'Winter','4.2', '207.7');"
sqlite_conn_cur_tup[1].execute(sqlite_insert_stmt)
sqlite_insert_stmt = "insert into weatherTable values('London','United Kingdom', 'Spring','8.3', '169.6');"
sqlite_conn_cur_tup[1].execute(sqlite_insert_stmt)
sqlite_insert_stmt = "insert into weatherTable values('London','United Kingdom', 'Summer','15.7', '157.0');"
sqlite_conn_cur_tup[1].execute(sqlite_insert_stmt)
sqlite_insert_stmt = "insert into weatherTable values('London','United Kingdom', 'Fall','10.4', '218.5');"
sqlite_conn_cur_tup[1].execute(sqlite_insert_stmt)
sqlite_insert_stmt = "insert into weatherTable values('Cairo','Egypt', 'Winter','13.6', '16.5');"
sqlite_conn_cur_tup[1].execute(sqlite_insert_stmt)
sqlite_insert_stmt = "insert into weatherTable values('Cairo','Egypt', 'Spring','20.7', '6.5');"
sqlite_conn_cur_tup[1].execute(sqlite_insert_stmt)
sqlite_insert_stmt = "insert into weatherTable values('Cairo','Egypt', 'Summer','27.7', '0.1');"
sqlite_conn_cur_tup[1].execute(sqlite_insert_stmt)
sqlite_insert_stmt = "insert into weatherTable values('Cairo','Egypt', 'Fall','22.2', '4.5');"
sqlite_conn_cur_tup[1].execute(sqlite_insert_stmt)


sqlite_conn_cur_tup[0].commit()

In [23]:
sqlite_conn_cur_tup[1].execute("SELECT temperature from weatherTable")
my_result =sqlite_conn_cur_tup[1].fetchall()             #part a
for x in my_result:
  print(x, end="")

print()
sqlite_conn_cur_tup[1].execute("SELECT DISTINCT(city) from weatherTable")
my_result = sqlite_conn_cur_tup[1].fetchall()
for x in my_result:                          #part b
  print(x, end="")

print()
sqlite_conn_cur_tup[1].execute("SELECT * from weatherTable where country = 'India'")
my_result = sqlite_conn_cur_tup[1].fetchall()
for x in my_result:                             #part c
  print(x, end="")

print()
sqlite_conn_cur_tup[1].execute("SELECT * from weatherTable where season = 'Fall'")
my_result = sqlite_conn_cur_tup[1].fetchall()
for x in my_result:                             #part d
  print(x, end="")

print()
sqlite_conn_cur_tup[1].execute("SELECT city,country,season from weatherTable where rainfall BETWEEN 200 and 400")
my_result = sqlite_conn_cur_tup[1].fetchall()
for x in my_result:                                 #part e
  print(x, end="")

print()
sqlite_conn_cur_tup[1].execute("SELECT city,country from weatherTable where (season = 'Fall' and temperature > 20) Order BY temperature ASC ")
my_result = sqlite_conn_cur_tup[1].fetchall()
for x in my_result:                                #part f
  print(x, end="")

print()
sqlite_conn_cur_tup[1].execute("SELECT sum(rainfall) from weatherTable where city = 'Cairo'")
my_result = sqlite_conn_cur_tup[1].fetchall()
for x in my_result:
  print(x, end="")                                      #part g

print()
sqlite_conn_cur_tup[1].execute("SELECT season, sum(rainfall) from weatherTable group by season")
my_result = sqlite_conn_cur_tup[1].fetchall()
for x in my_result:                                   #part h
  print(x, end="")

sqlite_conn_cur_tup[0].close()

('24.8',)('28.4',)('27.9',)('27.6',)('4.2',)('8.3',)('15.7',)('10.4',)('13.6',)('20.7',)('27.7',)('22.2',)
('Mumbai',)('London',)('Cairo',)
('Mumbai', 'India', 'Winter', '24.8', '5.9')('Mumbai', 'India', 'Spring', '28.4', '16.2')('Mumbai', 'India', 'Summer', '27.9', '1549.4')('Mumbai', 'India', 'Fall', '27.6', '346.0')
('Mumbai', 'India', 'Fall', '27.6', '346.0')('London', 'United Kingdom', 'Fall', '10.4', '218.5')('Cairo', 'Egypt', 'Fall', '22.2', '4.5')
('Mumbai', 'India', 'Fall')('London', 'United Kingdom', 'Winter')('London', 'United Kingdom', 'Fall')('Cairo', 'Egypt', 'Fall')
('Cairo', 'Egypt')('Mumbai', 'India')
(27.6,)
('Fall', 569.0)('Spring', 192.29999999999998)('Summer', 1706.5)('Winter', 230.1)

# Sql Commands required:

select Temperature from weatherTable

select DISTINCT City from weatherTable

select * from weatherTable where Country='India'

select * from weatherTable where Season='Fall'

SELECT City, Country, Season, AVG(Rainfall) FROM weatherTable

GROUP BY Rainfall
Having AVG(Rainfall) BETWEEN 200 AND 400;

select City, Country, AVG(Temperature) FROM weatherTable

WHERE Season = 'Fall'  
group by Temperature
HAVING AVG(Temperature) > 20
ORDER BY AVG(Temperature) ASC;

select City, SUM(Rainfall) FROM weatherTable where City='Cairo'

select Season, SUM(Rainfall) FROM weatherTable

group by Season

# Question 9:
Write list comprehensions expressions that use list words and generate the following lists:

In [25]:
words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]

# a) Convert words into upper case
words_upper_case = [word.upper() for word in words]
print(words_upper_case)
print("\n")


# b) Convert words into lower case

lower_case_words = [word.lower() for word in words]
print(lower_case_words)
print("\n")


# c) the list of length of words in list words

wordsLength = []
for single_letter in words:
    wordsLength.append(len(single_letter))     
print(wordsLength)
print("\n")


# d) the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and 
# the length of the word

init_count_val = 0
single_list = []
    
for i in words:
    single_list.append(words_upper_case[init_count_val])
    single_list.append(lower_case_words[init_count_val])
    single_list.append(wordsLength[init_count_val])
    init_count_val = init_count_val + 1

del_var_limit = 3
final_list = [single_list[additor:additor+del_var_limit] for additor in range(0, len(single_list), del_var_limit)]
print(final_list)
print("\n")

# e) the list of words in list words containing 4 or more characters

def get_word_string(k, str):    
    string_list = []     
    text = str.split(" ")     
    for x in text:         
        if len(x) >= k:            
            string_list.append(x)             
    return string_list
    
result_list = [''.join([str(c) for c in lst]) for lst in words]
result_string = ' '.join(result_list)
requiredCharacterLength = 4
print(get_word_string(requiredCharacterLength, result_string))

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


[3, 5, 5, 3, 5, 4, 3, 4, 3]


[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


['quick', 'brown', 'jumps', 'over', 'lazy']

Reference : https://stackoverflow.com/